# Crap
.DS_Store
.log
 
# Editors
*.sublime-project
*.sublime-workspace
*.idea
.idea
.idea/*
 
# Composer
composer.lock
vendor/

# Node
node_modules

# Codekit
codekit-config.json
config.codekit
.codekit-cache

# Local
/maintenance.flag
/.htaccess
/errors/local.xml
/app/etc/local.xml

# Downloader
/downloader/.cache
/downloader/cache.cfg
/downloader/connect.cfg

# Media
!/media/
/media/*
!/media/email

# Var
!/var/
/var/*
!/var/.htaccess

# Includes
/includes/src

# Robots
robots.txt

# Wordpress
/wordpress/

# Ghost
!/ghost/
/ghost/*
!/ghost/content
!/ghost/config.js